<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <link rel="stylesheet" href="../bundle/vendor.css" />
    <link rel="stylesheet" href="../dist/style.css" only-prod />
    <meta name="renderer" content="webkit" />
</head>
<body>
    <div id="main" is="v-main"></div>
</body>
</html>
<script src="../bundle/dll.js"></script>
<script src="../dist/commons.js"></script>
<script src="../dist/test.js"></script>